@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');


* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 16px 64px;
  background-color: #1F2937;
}

header h1 {
  font-size: 24px;
  color: #F9FAF8;
}

ul {
  list-style-type: none;
}

.header-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  font-size: 18px;
  color: #E5E7EB;
}

.top {
  height: 300px;
  padding: 50px;
  background-color: #1F2937;
  display: flex;
  justify-content: space-around;
}

.introduction {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
  width: 400px;
}

.introduction h1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.introduction p {
  font-size: 18px;
  color: #E5E7EB
}

.introduction button {
  border: 0;
  border-radius: 5px;
  width: 100px;
  padding: 10px;
  color: white;
  background-color: #3882F6;

}

.main-image {
  width: 400px;
  height: 250px;
  background-color: white;
}

.middle {
  height: 300px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.squares {
  display: flex;
  justify-content: space-between;
}

.square {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.square p {
  text-align: center;
}

.square div {
  border: 2px solid blue;
  width: 100px;
  height: 100px;
}

.bottom {
  height: 300px;
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.quote {
  margin: 0 520px;
  font-weight: 300;
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
}

.bottom p {
  margin-left: 520px;
  font-weight: 700;
  font-size: 24px;
  color: #1F2937;
}

.notification-container {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.notification {
  width: 1000px;
  height: 150px;
  background-color: #3882F6;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.notification button {
  border: 2px solid white;
  border-radius: 5px;
  width: 150px;
  padding: 10px;
  color: white;
  background-color: #3882F6;
}

footer {
  height: 100px;
  color: #F9FAF8;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
}